html {
    font-size: 16px;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.wrapper {
    margin: 0 auto;
    max-width: 900px;
}
.fox-gallery .photo {
    flex: 2 2 500px;
    list-style: none;
    margin: 2px;
    
}
.fox-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    padding: 0;
}

.photo img {
    height: 100%;
    width: 100%;
}
  