html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background-color: black;   
}
.container {
    display: flex;
    flex-direction: row-reverse;
    background-color:  #acc6c2;
    margin: 120px auto 200px auto;
    max-width: 1000px;
    height: 600px;
}
.textandnav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.textdiv {
    text-align: center;
    background-color: #acc6c2;
    font-family: "Playfair Display";
    font-size: 58px;
    line-height: 53px;
    width: 100%;
    height: 100%;
}

.container .img-wrapper {
    display: flex;
    background-color:black;
    height: 600px;
    width: auto;
}
img {
    width: auto;
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
}
.p2 {
    font-family: "Playfair Display";
    color: black;
    line-height: 0.9;
    font-size: 19px;
}
.storytext {
    font-family: "Playfair Display";
    color: black;
    line-height: 1.5;
    margin-left: 0px;
    margin-right: 16px;
    font-size: 18px;

}
.p3 {
    font-family: "Playfair Display Bold";
    color: black;
    line-height: 0.7;
    font-weight: 900;
    font-size: 30px;
    margin-top: 15px;
}
nav {
    display: flex;
    flex-direction: row-reverse;
}
.listbar {
    font-family: "Playfair Display";
    display: flex;
    background-color: #acc6c2;
    text-align: center;
    font-size: 12px;
    margin: 0px 0px 0px 0px;
    padding: 4px;
    list-style-type: none;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 30px;
}
li {
    margin-left: 20px;
    padding-right: 4px;
}
@media screen and (max-width: 750px) {
    nav {
        display: flex;
        flex-direction: row-reverse;
    }
    .container {
        display: flex;
        flex-direction: column;
        background-color: #acc6c2;
        margin: 120px auto 200px auto;
        width: 600px;
        height: auto;
        min-height: 1000px;
    }
    img {
        height: auto;
        width: 600px;
    }
    .container .img-wrapper {
        display: block;
        background-color:black;
        height: auto;
        width: 600px;
        margin-bottom: 0px;
    }
    .textandnav {
        display: flex;
        flex-direction: column;
        width: 600px;
        height: 100%;
        padding: 5px;
    }
    .listbar {
        font-family: "Playfair Display";
        display: flex;
        background-color:  #acc6c2;
        text-align: center;
        font-size: 12px;
        margin: 0px 0px 0px 0px;
        padding: 0px;
        list-style-type: none;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .p3 {
        font-family: "Playfair Display";
        color: black;
        line-height: 11px;
        font-size: 12px;
        margin-top: 214px;
    }
}
